<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.tongji.backend.mapper.GlycemiaMapper">
    <resultMap id="glycemiaDTOResultMap" type="edu.tongji.backend.dto.GlycemiaDTO">
        <result property="glycemia" column="glycemia"/>
        <result property="recordTime" column="record_time"/>
    </resultMap>
    <resultMap id="statisticsResultMap" type="edu.tongji.backend.dto.Statistics">
        <result property="time" column="record_date"/>
        <result property="minValue" column="min_glycemia"/>
        <result property="maxValue" column="max_glycemia"/>
        <result property="averageValue" column="avg_glycemia"/>
        <result property="hyperglycemiaPercentage" column="hyper_percent"/>
        <result property="euGlycemiaPercentage" column="eu_percent"/>
        <result property="hypoglycemiaPercentage" column="hypo_percent"/>
    </resultMap>
    <select id="selectByIdAndTime" resultType="java.lang.Double">
        SELECT glycemia FROM glycemia WHERE patient_id = #{id}
        and MINUTE(record_time) DIV 15 = MINUTE( #{time} ) DIV 15 and HOUR(record_time) = HOUR( #{time} )
        and DATE(record_time) = DATE( #{time} ) limit 1;
    </select>
    <select id="selectDailyArchive" resultMap="statisticsResultMap">
        SELECT max_glycemia,min_glycemia,avg_glycemia,hypo_percent,eu_percent,hyper_percent,record_date
        FROM daily_glycemia_summary WHERE patient_id = #{userId} and
            record_date= CONVERT(#{Date},CHAR(10));
    </select>
    <select id="getRealtimeGlycemia" resultMap="glycemiaDTOResultMap">
        SELECT glycemia,record_time FROM glycemia WHERE patient_id= #{userId}
        ORDER BY ABS(TIMESTAMPDIFF(SECOND, record_time, NOW()))
        LIMIT 1;
    </select>
</mapper>