<!--
  #%L
  Tangxiaozhi
  %%
  Copyright (C) 2024 LEAVE-cshj,Dawson128
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.tongji.backend.mapper.DoctorInteractMapper">
    <resultMap id="DoctorInfoMap" type="edu.tongji.backend.dto.DoctorDTO3">
        <result property="user_name" column="user_name"/>
        <result property="user_group" column="user_group"/>
        <result property="user_phone" column="user_phone"/>
        <result property="user_id" column="user_id"/>
        <result property="department" column="department"/>
        <result property="title" column="title"/>
        <result property="hospital_name" column="hospital_name"/>
    </resultMap>
    <select id="getVerboseDoctorInfo" resultMap="DoctorInfoMap">
        select name as user_name,role as user_group,contact as user_phone,
        user_id,department,title,hospital_name from user u
        RIGHT JOIN doctor d ON u.user_id=d.doctor_id
        RIGHT JOIN hospital h ON h.hospital_id=d.hospital_id
        where d.doctor_id=#{ doctor_id }
    </select>
</mapper>
